<div class='container'>
    <div class='row'>
        <div class='col-lg-4'>
            <div class="input-group">
                <input
                    placeholder="Name..."
                    ng-model="searchName"
                    type="text"
                    ng-keyup="$event.keyCode == 13?searchForData():null"
                    class="form-control">
                <span class="input-group-btn">
                    <button
                        class="btn btn-default"
                        ng-click="searchForData()"
                        type="submit">Search</button>
                </span>
            </div>
            <button class='btn btn-default' ng-click="resetMacros()">Reset</button>
        </div>
    </div>

    <div class='row'>
        <div class='col-lg-4'>
            <div class='list-group'>
                <h3>Results</h3>
                <div class="results-list">
                    <a class='list-group-item'
                        ng-repeat="hit in hits"
                        ng-class="{active:hit.active}"
                        ng-click="getItemDetails(hit)">
                        <h5>{{hit.fields.item_name}}</h5>
                        <em>{{hit.fields.brand_name}}</em>
                    </a>
                </div>
            </div>
        </div>

        <div class='col-lg-4' ng-show="item != null">
            <h3>Details
            </h3>
            <ul class='list-group'>
                <li class='list-group-item'><b>Name:</b> {{item.name}}</li>
                <li class='list-group-item'><b>Brand:</b> {{item.brand}}</li>
                <li class='list-group-item'>
                    <b>Calories:</b> {{item.nutrition.calories * item.quantity| number:1}}</li>
                <li class='list-group-item'>
                    <b>Fat:</b> {{item.nutrition.fat  * item.quantity| number:1}}g</li>
                <li class='list-group-item'>
                    <b>Carbs:</b> {{item.nutrition.carbs  * item.quantity| number:1}}g</li>
                <li class='list-group-item'>
                    <b>Protein:</b> {{item.nutrition.protein  * item.quantity| number:1}}g</li>
            </ul>
            <div class="input-group">
                <span class="input-group-addon">Qty</span>
                <input type="text"
                    class="form-control"
                    ng-model="item.quantity">
                <span class="input-group-btn">
                <button
                    class="btn btn-default"
                    ng-click="addFood()"
                    type="button">Add
                </button>
                </span>
            </div>
        </div>
    </div>
</div>
